<template>
	<div id="app">
		<h2>This is a Settings</h2>
	</div>
</template>
<script>
export default {
	mounted(){
		this.$store.dispatch('auth/checkUser');
	},
	methods: {
		
	}
}
</script>
